DL-OP/Web/App_WebReferences/U8API9003_Check/check.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Check_OpOrder_Num">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cSOCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Check_OpOrder_NumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Check_OpOrder_NumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Check_OpOrder_NumSoapIn">
    <wsdl:part name="parameters" element="tns:Check_OpOrder_Num" />
  </wsdl:message>
  <wsdl:message name="Check_OpOrder_NumSoapOut">
    <wsdl:part name="parameters" element="tns:Check_OpOrder_NumResponse" />
  </wsdl:message>
  <wsdl:message name="Check_OpOrder_NumHttpGetIn">
    <wsdl:part name="cSOCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Check_OpOrder_NumHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Check_OpOrder_NumHttpPostIn">
    <wsdl:part name="cSOCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Check_OpOrder_NumHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CheckSoap">
    <wsdl:operation name="Check_OpOrder_Num">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证网单产品数量及购买量及各项金额与生成的U8订单是否相符</wsdl:documentation>
      <wsdl:input message="tns:Check_OpOrder_NumSoapIn" />
      <wsdl:output message="tns:Check_OpOrder_NumSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CheckHttpGet">
    <wsdl:operation name="Check_OpOrder_Num">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证网单产品数量及购买量及各项金额与生成的U8订单是否相符</wsdl:documentation>
      <wsdl:input message="tns:Check_OpOrder_NumHttpGetIn" />
      <wsdl:output message="tns:Check_OpOrder_NumHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CheckHttpPost">
    <wsdl:operation name="Check_OpOrder_Num">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证网单产品数量及购买量及各项金额与生成的U8订单是否相符</wsdl:documentation>
      <wsdl:input message="tns:Check_OpOrder_NumHttpPostIn" />
      <wsdl:output message="tns:Check_OpOrder_NumHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckSoap" type="tns:CheckSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Check_OpOrder_Num">
      <soap:operation soapAction="http://tempuri.org/Check_OpOrder_Num" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckSoap12" type="tns:CheckSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Check_OpOrder_Num">
      <soap12:operation soapAction="http://tempuri.org/Check_OpOrder_Num" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckHttpGet" type="tns:CheckHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Check_OpOrder_Num">
      <http:operation location="/Check_OpOrder_Num" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckHttpPost" type="tns:CheckHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Check_OpOrder_Num">
      <http:operation location="/Check_OpOrder_Num" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Check">
    <wsdl:port name="CheckSoap" binding="tns:CheckSoap">
      <soap:address location="http://192.168.0.249:9003/u8api/check.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckSoap12" binding="tns:CheckSoap12">
      <soap12:address location="http://192.168.0.249:9003/u8api/check.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckHttpGet" binding="tns:CheckHttpGet">
      <http:address location="http://192.168.0.249:9003/u8api/check.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckHttpPost" binding="tns:CheckHttpPost">
      <http:address location="http://192.168.0.249:9003/u8api/check.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>