DL-OP/Web/App_WebReferences/GetWeiXinAccessToken9003/GetWeiXinAccessToken.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dl.duolian.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dl.duolian.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dl.duolian.com/">
      <s:element name="GetSum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSumResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAndSetApplicationWXAccessToken">
        <s:complexType />
      </s:element>
      <s:element name="GetAndSetApplicationWXAccessTokenResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetApplicationWXAccessToken">
        <s:complexType />
      </s:element>
      <s:element name="GetApplicationWXAccessTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationWXAccessTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WXAccessToken">
        <s:complexType />
      </s:element>
      <s:element name="WXAccessTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WXAccessTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WXAccessTokenToSqlTable">
        <s:complexType />
      </s:element>
      <s:element name="WXAccessTokenToSqlTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WXAccessTokenToSqlTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WXFWHAccessTokenToSqlTable">
        <s:complexType />
      </s:element>
      <s:element name="WXFWHAccessTokenToSqlTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WXFWHAccessTokenToSqlTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFWHInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetFWHInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFWHInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test">
        <s:complexType />
      </s:element>
      <s:element name="testResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSumSoapIn">
    <wsdl:part name="parameters" element="tns:GetSum" />
  </wsdl:message>
  <wsdl:message name="GetSumSoapOut">
    <wsdl:part name="parameters" element="tns:GetSumResponse" />
  </wsdl:message>
  <wsdl:message name="GetAndSetApplicationWXAccessTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetAndSetApplicationWXAccessToken" />
  </wsdl:message>
  <wsdl:message name="GetAndSetApplicationWXAccessTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetAndSetApplicationWXAccessTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationWXAccessTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationWXAccessToken" />
  </wsdl:message>
  <wsdl:message name="GetApplicationWXAccessTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationWXAccessTokenResponse" />
  </wsdl:message>
  <wsdl:message name="WXAccessTokenSoapIn">
    <wsdl:part name="parameters" element="tns:WXAccessToken" />
  </wsdl:message>
  <wsdl:message name="WXAccessTokenSoapOut">
    <wsdl:part name="parameters" element="tns:WXAccessTokenResponse" />
  </wsdl:message>
  <wsdl:message name="WXAccessTokenToSqlTableSoapIn">
    <wsdl:part name="parameters" element="tns:WXAccessTokenToSqlTable" />
  </wsdl:message>
  <wsdl:message name="WXAccessTokenToSqlTableSoapOut">
    <wsdl:part name="parameters" element="tns:WXAccessTokenToSqlTableResponse" />
  </wsdl:message>
  <wsdl:message name="WXFWHAccessTokenToSqlTableSoapIn">
    <wsdl:part name="parameters" element="tns:WXFWHAccessTokenToSqlTable" />
  </wsdl:message>
  <wsdl:message name="WXFWHAccessTokenToSqlTableSoapOut">
    <wsdl:part name="parameters" element="tns:WXFWHAccessTokenToSqlTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetFWHInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetFWHInfo" />
  </wsdl:message>
  <wsdl:message name="GetFWHInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetFWHInfoResponse" />
  </wsdl:message>
  <wsdl:message name="testSoapIn">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="testSoapOut">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="GetSumHttpGetIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSumHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetAndSetApplicationWXAccessTokenHttpGetIn" />
  <wsdl:message name="GetAndSetApplicationWXAccessTokenHttpGetOut" />
  <wsdl:message name="GetApplicationWXAccessTokenHttpGetIn" />
  <wsdl:message name="GetApplicationWXAccessTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WXAccessTokenHttpGetIn" />
  <wsdl:message name="WXAccessTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WXAccessTokenToSqlTableHttpGetIn" />
  <wsdl:message name="WXAccessTokenToSqlTableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WXFWHAccessTokenToSqlTableHttpGetIn" />
  <wsdl:message name="WXFWHAccessTokenToSqlTableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFWHInfoHttpGetIn" />
  <wsdl:message name="GetFWHInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="testHttpGetIn" />
  <wsdl:message name="testHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSumHttpPostIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSumHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetAndSetApplicationWXAccessTokenHttpPostIn" />
  <wsdl:message name="GetAndSetApplicationWXAccessTokenHttpPostOut" />
  <wsdl:message name="GetApplicationWXAccessTokenHttpPostIn" />
  <wsdl:message name="GetApplicationWXAccessTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WXAccessTokenHttpPostIn" />
  <wsdl:message name="WXAccessTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WXAccessTokenToSqlTableHttpPostIn" />
  <wsdl:message name="WXAccessTokenToSqlTableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WXFWHAccessTokenToSqlTableHttpPostIn" />
  <wsdl:message name="WXFWHAccessTokenToSqlTableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFWHInfoHttpPostIn" />
  <wsdl:message name="GetFWHInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="testHttpPostIn" />
  <wsdl:message name="testHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="GetWeiXinAccessTokenSoap">
    <wsdl:operation name="GetSum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回两数之和</wsdl:documentation>
      <wsdl:input message="tns:GetSumSoapIn" />
      <wsdl:output message="tns:GetSumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAndSetApplicationWXAccessToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetWeiXin_AccessToken</wsdl:documentation>
      <wsdl:input message="tns:GetAndSetApplicationWXAccessTokenSoapIn" />
      <wsdl:output message="tns:GetAndSetApplicationWXAccessTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationWXAccessToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetWeiXin_AccessToken's Application</wsdl:documentation>
      <wsdl:input message="tns:GetApplicationWXAccessTokenSoapIn" />
      <wsdl:output message="tns:GetApplicationWXAccessTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WXAccessToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">动态获取token并且赋值application,WXAccessToken</wsdl:documentation>
      <wsdl:input message="tns:WXAccessTokenSoapIn" />
      <wsdl:output message="tns:WXAccessTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WXAccessTokenToSqlTable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">动态获取token并且写入05数据库的表Dl_opSystemConfiguration,WXAccessTokenToSqlTable</wsdl:documentation>
      <wsdl:input message="tns:WXAccessTokenToSqlTableSoapIn" />
      <wsdl:output message="tns:WXAccessTokenToSqlTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WXFWHAccessTokenToSqlTable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">服务号，动态获取token并且写入05数据库的表Dl_opSystemConfiguration,WXAccessTokenToSqlTable</wsdl:documentation>
      <wsdl:input message="tns:WXFWHAccessTokenToSqlTableSoapIn" />
      <wsdl:output message="tns:WXFWHAccessTokenToSqlTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFWHInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取服务号的信息</wsdl:documentation>
      <wsdl:input message="tns:GetFWHInfoSoapIn" />
      <wsdl:output message="tns:GetFWHInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input message="tns:testSoapIn" />
      <wsdl:output message="tns:testSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetWeiXinAccessTokenHttpGet">
    <wsdl:operation name="GetSum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回两数之和</wsdl:documentation>
      <wsdl:input message="tns:GetSumHttpGetIn" />
      <wsdl:output message="tns:GetSumHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAndSetApplicationWXAccessToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetWeiXin_AccessToken</wsdl:documentation>
      <wsdl:input message="tns:GetAndSetApplicationWXAccessTokenHttpGetIn" />
      <wsdl:output message="tns:GetAndSetApplicationWXAccessTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationWXAccessToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetWeiXin_AccessToken's Application</wsdl:documentation>
      <wsdl:input message="tns:GetApplicationWXAccessTokenHttpGetIn" />
      <wsdl:output message="tns:GetApplicationWXAccessTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WXAccessToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">动态获取token并且赋值application,WXAccessToken</wsdl:documentation>
      <wsdl:input message="tns:WXAccessTokenHttpGetIn" />
      <wsdl:output message="tns:WXAccessTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WXAccessTokenToSqlTable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">动态获取token并且写入05数据库的表Dl_opSystemConfiguration,WXAccessTokenToSqlTable</wsdl:documentation>
      <wsdl:input message="tns:WXAccessTokenToSqlTableHttpGetIn" />
      <wsdl:output message="tns:WXAccessTokenToSqlTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WXFWHAccessTokenToSqlTable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">服务号，动态获取token并且写入05数据库的表Dl_opSystemConfiguration,WXAccessTokenToSqlTable</wsdl:documentation>
      <wsdl:input message="tns:WXFWHAccessTokenToSqlTableHttpGetIn" />
      <wsdl:output message="tns:WXFWHAccessTokenToSqlTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFWHInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取服务号的信息</wsdl:documentation>
      <wsdl:input message="tns:GetFWHInfoHttpGetIn" />
      <wsdl:output message="tns:GetFWHInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input message="tns:testHttpGetIn" />
      <wsdl:output message="tns:testHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetWeiXinAccessTokenHttpPost">
    <wsdl:operation name="GetSum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回两数之和</wsdl:documentation>
      <wsdl:input message="tns:GetSumHttpPostIn" />
      <wsdl:output message="tns:GetSumHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAndSetApplicationWXAccessToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetWeiXin_AccessToken</wsdl:documentation>
      <wsdl:input message="tns:GetAndSetApplicationWXAccessTokenHttpPostIn" />
      <wsdl:output message="tns:GetAndSetApplicationWXAccessTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationWXAccessToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetWeiXin_AccessToken's Application</wsdl:documentation>
      <wsdl:input message="tns:GetApplicationWXAccessTokenHttpPostIn" />
      <wsdl:output message="tns:GetApplicationWXAccessTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WXAccessToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">动态获取token并且赋值application,WXAccessToken</wsdl:documentation>
      <wsdl:input message="tns:WXAccessTokenHttpPostIn" />
      <wsdl:output message="tns:WXAccessTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WXAccessTokenToSqlTable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">动态获取token并且写入05数据库的表Dl_opSystemConfiguration,WXAccessTokenToSqlTable</wsdl:documentation>
      <wsdl:input message="tns:WXAccessTokenToSqlTableHttpPostIn" />
      <wsdl:output message="tns:WXAccessTokenToSqlTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WXFWHAccessTokenToSqlTable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">服务号，动态获取token并且写入05数据库的表Dl_opSystemConfiguration,WXAccessTokenToSqlTable</wsdl:documentation>
      <wsdl:input message="tns:WXFWHAccessTokenToSqlTableHttpPostIn" />
      <wsdl:output message="tns:WXFWHAccessTokenToSqlTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFWHInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取服务号的信息</wsdl:documentation>
      <wsdl:input message="tns:GetFWHInfoHttpPostIn" />
      <wsdl:output message="tns:GetFWHInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input message="tns:testHttpPostIn" />
      <wsdl:output message="tns:testHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetWeiXinAccessTokenSoap" type="tns:GetWeiXinAccessTokenSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSum">
      <soap:operation soapAction="http://dl.duolian.com/GetSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAndSetApplicationWXAccessToken">
      <soap:operation soapAction="http://dl.duolian.com/GetAndSetApplicationWXAccessToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationWXAccessToken">
      <soap:operation soapAction="http://dl.duolian.com/GetApplicationWXAccessToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXAccessToken">
      <soap:operation soapAction="http://dl.duolian.com/WXAccessToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXAccessTokenToSqlTable">
      <soap:operation soapAction="http://dl.duolian.com/WXAccessTokenToSqlTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXFWHAccessTokenToSqlTable">
      <soap:operation soapAction="http://dl.duolian.com/WXFWHAccessTokenToSqlTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFWHInfo">
      <soap:operation soapAction="http://dl.duolian.com/GetFWHInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap:operation soapAction="http://dl.duolian.com/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetWeiXinAccessTokenSoap12" type="tns:GetWeiXinAccessTokenSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSum">
      <soap12:operation soapAction="http://dl.duolian.com/GetSum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAndSetApplicationWXAccessToken">
      <soap12:operation soapAction="http://dl.duolian.com/GetAndSetApplicationWXAccessToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationWXAccessToken">
      <soap12:operation soapAction="http://dl.duolian.com/GetApplicationWXAccessToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXAccessToken">
      <soap12:operation soapAction="http://dl.duolian.com/WXAccessToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXAccessTokenToSqlTable">
      <soap12:operation soapAction="http://dl.duolian.com/WXAccessTokenToSqlTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXFWHAccessTokenToSqlTable">
      <soap12:operation soapAction="http://dl.duolian.com/WXFWHAccessTokenToSqlTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFWHInfo">
      <soap12:operation soapAction="http://dl.duolian.com/GetFWHInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap12:operation soapAction="http://dl.duolian.com/test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetWeiXinAccessTokenHttpGet" type="tns:GetWeiXinAccessTokenHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetSum">
      <http:operation location="/GetSum" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAndSetApplicationWXAccessToken">
      <http:operation location="/GetAndSetApplicationWXAccessToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationWXAccessToken">
      <http:operation location="/GetApplicationWXAccessToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXAccessToken">
      <http:operation location="/WXAccessToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXAccessTokenToSqlTable">
      <http:operation location="/WXAccessTokenToSqlTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXFWHAccessTokenToSqlTable">
      <http:operation location="/WXFWHAccessTokenToSqlTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFWHInfo">
      <http:operation location="/GetFWHInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <http:operation location="/test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetWeiXinAccessTokenHttpPost" type="tns:GetWeiXinAccessTokenHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetSum">
      <http:operation location="/GetSum" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAndSetApplicationWXAccessToken">
      <http:operation location="/GetAndSetApplicationWXAccessToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationWXAccessToken">
      <http:operation location="/GetApplicationWXAccessToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXAccessToken">
      <http:operation location="/WXAccessToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXAccessTokenToSqlTable">
      <http:operation location="/WXAccessTokenToSqlTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXFWHAccessTokenToSqlTable">
      <http:operation location="/WXFWHAccessTokenToSqlTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFWHInfo">
      <http:operation location="/GetFWHInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <http:operation location="/test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetWeiXinAccessToken">
    <wsdl:port name="GetWeiXinAccessTokenSoap" binding="tns:GetWeiXinAccessTokenSoap">
      <soap:address location="http://192.168.0.249:9003/dlop/wx/GetWeiXinAccessToken.asmx" />
    </wsdl:port>
    <wsdl:port name="GetWeiXinAccessTokenSoap12" binding="tns:GetWeiXinAccessTokenSoap12">
      <soap12:address location="http://192.168.0.249:9003/dlop/wx/GetWeiXinAccessToken.asmx" />
    </wsdl:port>
    <wsdl:port name="GetWeiXinAccessTokenHttpGet" binding="tns:GetWeiXinAccessTokenHttpGet">
      <http:address location="http://192.168.0.249:9003/dlop/wx/GetWeiXinAccessToken.asmx" />
    </wsdl:port>
    <wsdl:port name="GetWeiXinAccessTokenHttpPost" binding="tns:GetWeiXinAccessTokenHttpPost">
      <http:address location="http://192.168.0.249:9003/dlop/wx/GetWeiXinAccessToken.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>